body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc;
    color: #b1b0aa;
    display: flex;
}

h1, h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.paragrafo-inicio {
    text-align: justify;
    font-size: 20px;
    background-color: #3b3a30cb;
    margin: 10px;
    padding: 30px;
    border-radius: 1pc;
    margin-left: auto;
    margin-right: auto;
}

.paragrafo-inicio:hover {
    animation: paragrafo 1.5s forwards;
}

@keyframes paragrafo {
    to {
        background-color: #817f7fb8;
        color: #ffffff;
    }
}

nav {
    background-color: #333;
    width: 12.3pc;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    width: 100%;
    margin-bottom: 10px;
}

nav ul li a {
    display: block;
    color: #f5f5dc;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    width: 10.2pc;
}

nav ul li a:hover {
    background-color: #5e2129;
}

.content {
    margin-left: 200px; /* Ajuste a margem esquerda para a largura da barra lateral */
    padding: 30px;
    width: calc(100% - 200px); /* Ajuste a largura do conteúdo para não ultrapassar a barra lateral */
}

.titulo-livros {
    background-image: linear-gradient(90deg, #ffffff00,  #c6c1b98c, #6b5d479c, #ffffff00);
    color: #f5f5dc;
    text-align: center;
    padding: 30px 20px;
    margin: 0;
    font-size: 3em;
}

header {
    background-image: linear-gradient(50deg, #020204, #020204, #6b5d47, #6b5d47, #020204, #020204);
    color: #f5f5dc;
    text-align: center;
    padding: 30px 20px;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

main {
    text-align: center;
    padding: 20px;
}

#login-section {
    background-color: #ffffff57;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 40pc;
    align-items: center;
    height: 24.4pc;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form label, #login-form input, #login-form button {
    margin: 20px 0;
}

#login-form input, #login-form button {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login-form button {
    background-color: #8a795d;
    color: #fff;
    cursor: pointer;
    width: 20pc;
    height: 4pc;
}

#login-form button:focus {
    animation: buttonF 1.2s forwards;
}

@keyframes buttonF {
    from {
        background-color: #41181e;
        color: #d3c7c7;
    }
    to {
        background-color: #8a795d;
        color: #fff;
    }
}

.book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.book-button {
    display: block;
    width: 200px; /* Ajuste a largura conforme necessário */
    height: 300px; /* Ajuste a altura conforme necessário */
    background-color: #f5f5dc;
    border: 2px solid #000000;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
}

.book-button:hover {
    box-shadow: 1px 1px 20px 20px #0000008f;
    animation: Livro 2s forwards;
}

@keyframes Livro {
    to {
        width: 230px;
        height: 350px;
    }
}

.book-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilo para o container do quiz */
#quiz-container {
    background-color: #ad9d83ea;
    border: 1px solid #8b8b8b;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 900px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #000000;
}

/* Estilo para o formulário do quiz */
#quiz-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#quiz-form label {
    margin-bottom: 20px;
}

#quiz-form button {
    background-color: #6b5d46;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

#quiz-form button:focus {
    animation: buttonQuiz 0.5s forwards;
}

@keyframes buttonQuiz {
    from {
        background-color: #41181e;
        color: #d3c7c7;
    }
    to {
        background-color: #8a795d;
        color: #fff;
    }
}

/* Estilo para o resultado do quiz */
#quiz-result {
    margin-top: 20px;
    font-size: 1.2em;
}

/* Estilo para a mensagem de resultado */
#result-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}

#result-message.correct {
    background-color: rgba(0, 128, 0, 0.679);
    color: #fff;
}

#result-message.incorrect {
    background-color: rgba(255, 0, 0, 0.575);
    color: #000000;
}

.blurred {
    filter: blur(10px);
}

#book-select {
    width: 25pc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 2.2pc;
    margin-left: 30px;
    cursor: pointer;
    background-color: #ffffff5d;
    border: none;
    margin-left: 110px;
}

#book-select:focus-visible {
    animation: bookSelection 0.5s forwards;
}

@keyframes bookSelection {
    to {
        background-color: #ffffff;
    }
}

#book-selection {
    background-image: linear-gradient(90deg, #ffffff00, #3b3a3038, #ffffff00);
    padding: 10px;
    border-radius: 1pc;
    width: 40pc;
    margin-left: auto;
    margin-right: auto;
}

.questao-titulo {
    background-image: linear-gradient(90deg, #f5f5dc00,  #6b5d47de, #6b5d47, #ffffff00);
    color: #f5f5dc;
    padding: 30px 20px;
}

.questao-titulo h1 {
    margin: 0;
    font-size: 3em;
}

.questao-titulo p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

.result-gif {
    width: 100%;
    height: auto;
    display: none;
    margin-top: 20px;
}

.result-gif.correct {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
table, th, td {
    border: 1px solid #000000;
    padding: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
th {
    background-color: #8a795d;
    color: rgb(255, 255, 255);
}
tr {
    background-color: #8a795d8f;
    color: #ffffff;
}
tr:hover {
    background-color: #8a795ddb;
}
.content h1, .content p {
    text-align: center;
}

td {
    font-size: 20px;
}

.titulo-explicacoes {
    background-image: linear-gradient(90deg, #f5f5dc00,  #6b5d47bf, #6b5d47b8, #f5f5dc00);
    color: #f5f5dc;
    text-align: center;
    padding: 30px 20px;
    margin: 0;
    font-size: 3em;
}

.ler-livro {
    margin-left: 23pc;
    margin-top: 10px;
    background-color: #8a795d;
    color: #fff;
    cursor: pointer;
    width: 28pc;
    height: 4pc;
    font-size: 30px;
}

.ler-livro:hover {
    animation: lerlivro 0.5s forwards;
}

@keyframes lerlivro {
    to {
        background-color: #85653a;
    }
}
